<% provide(:title, 'Students') %>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>
  <% for student in @students %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.address %></td>
      <td><%= link_to "Show", student %></td>
      <td><%= link_to "Edit", edit_student_path(student) %></td>
      <td><%= link_to "Destroy", student, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Student", new_student_path %></p>
